<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spel</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <a href="/">Tillbaka</a>
  <% games.forEach(file => { %>
    <div class="game">
      <%= file.name %> (id: <%= file.id %>)
    </div>
  <% }); %>
  <br>
  <div>
    <h3>Lägg till ett spel</h3>
    <form action="/games/<%= companyId %>" method="POST">
      <label for="name">Namn:</label>
      <input type="text" name="name" autocomplete="off">
      <button type="submit">Skicka</button>
    </form>
  </div>
  <div>
    <h3>Uppdatera ett spel</h3>
    <form action="/games/<%= companyId %>/update" method="POST">
      <label for="id">Id:</label>
      <input type="text" name="id" autocomplete="off">
      <label for="name">Namn:</label>
      <input type="text" name="name" autocomplete="off">
      <button type="submit">Skicka</button>
    </form>
  </div>
  <div>
    <h3>Radera ett spel</h3>
    <form action="/games/<%= companyId %>/delete" method="POST">
      <label for="id">Id:</label>
      <input type="text" name="id" autocomplete="off">
      <button type="submit">Skicka</button>
    </form>
  </div>
</body>
</html>